.userinfowrapper {
    background: #ffffff;
    padding: 10px;
    border-radius: 6px;
    min-height: 500px;
    @media (max-width: 767px) {
        margin-top: 20px;
    }
    .userinfo {
        width: 80%;
        margin: 0 auto;
        @media (max-width: 767px) {
            width: 100%;
        }
        &__avatar {
            margin: 25px auto;
            margin-bottom: 30px;
            text-align: center;
            &-popup {
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                z-index: 1000;
                opacity: 0;
                transform: scale(0.6);
                transition: 0.5s;
                pointer-events: none;
                .imgwrapper {
                    width: 100%;
                    max-width: 550px;
                    padding-top: 400px;
                    position: relative;
                    overflow: hidden;
                    z-index: 1;
                    margin: 0 10px;
                    img {
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        object-fit: contain;
                    }
                }
                &.active {
                    opacity: 1;
                    transform: scale(1);
                    transition: 0.5s;
                    pointer-events: auto;
                }
                .close {
                    position: absolute;
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    right: 15px;
                    top: 15px;
                    font-size: 22px;
                    background: #cccccc;
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    p {
                        font-size: 18px;
                    }
                }
            }
            &-text {
                width: 100px;
                height: 100px;
                margin: 0 auto;
                border-radius: 50%;
                background: var(--orange-primary);
                display: flex;
                align-items: center;
                justify-content: center;
                p {
                    font-size: 3em;
                    color: #ffffff;
                }
            }
            &-img {
                width: 150px;
                padding-top: 150px;
                position: relative;
                border-radius: 50%;
                overflow: hidden;
                margin: 0 auto;
                cursor: pointer;
                -webkit-tap-highlight-color: transparent;
                img {
                    min-width: 100%;
                    min-height: 100%;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    object-fit: cover;
                }
            }
        }
        .userinfotextwrapper {
            min-height: 200px;
            .userinfotextbox {
                display: flex;
                align-items: center;
                margin: 0 auto;
                margin-bottom: 15px;
                p {
                    font-size: 1.7em;
                    &:first-child {
                        margin-right: 10px;
                    }
                }
                .infolabel {
                    font-weight: 500;
                }
                input {
                    width: 70%;
                    margin-left: auto;
                    font-size: 1.8em;
                    outline: none;
                    padding: 5px 10px;
                    border: 1px solid #e1e1e1;
                    border-radius: 5px;
                    @media (max-width: 1024px) {
                        width: initial;
                    }
                }
                &:nth-last-child() {
                    margin-bottom: 0;
                }
            }
        }
        button {
            width: 65px;
            height: 33px;
            font-size: 1.1rem;
            background: transparent;
            outline: none;
            border: 1px solid #111111;
            border-radius: 5px;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            p {
                font-size: 1.1rem;
            }
        }
    }
    .modal {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.7);
        opacity: 0;
        pointer-events: none;
        &.active {
            opacity: 1;
            pointer-events: auto;
        }
    }
}
