.userinfowrapper {
    background: #ffffff;
    padding: 10px;
    border-radius: 6px;
    min-height: 500px;
    .userinfo {
        width: 80%;
        margin: 0 auto;
        @media (max-width: 767px) {
            width: 100%;
            margin-top: 20px;
        }
        &__avatar {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            margin: 25px auto;
            background: var(--orange-primary);
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 50px;
            p {
                font-size: 3em;
                color: #ffffff;
            }
        }
        .userinfotextwrapper {
            min-height: 220px;
            .userinfotextbox {
                display: flex;
                align-items: center;
                margin: 0 auto;
                margin-bottom: 15px;
                p {
                    font-size: 1.7em;
                    &:first-child {
                        margin-right: 10px;
                    }
                }
                .infolabel {
                    font-weight: 500;
                }
                input {
                    width: 70%;
                    // max-width: 250px;
                    margin-left: auto;
                    font-size: 1.8em;
                    outline: none;
                    padding: 5px 10px;
                    border: 1px solid #e1e1e1;
                    border-radius: 5px;
                }
                &:nth-last-child() {
                    margin-bottom: 0;
                }
            }
        }
        button {
            width: 65px;
            height: 33px;
            font-size: 1.1rem;
            background: transparent;
            outline: none;
            border: 1px solid #111111;
            border-radius: 5px;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            p {
                font-size: 1.1rem;
            }
        }
    }
}
