.benefits {
    padding: 90px 0 40px;
    @media (max-width: 767px) {
        padding: 50px 0 0 0;
    }
    .container {
        display: flex;
        justify-content: space-between;
        @media (max-width: 767px) {
            flex-wrap: wrap;
        }
        .benefit {
            flex: 0 0 30%;
            @media (max-width: 767px) {
                display: flex;
                align-items: center;
                width: 100%;
                flex: initial;
                padding: 0 20px;
            }
            &__img {
                width: 100%;
                max-width: 50px;
                display: flex;
                align-items: center;
                margin: 0 auto;
                img {
                    width: 100%;
                    height: 100%;
                }
                @media (max-width: 767px) {
                    margin: initial;
                }
            }
            &__text {
                text-align: center;
                @media (max-width: 767px) {
                    margin-left: 20px;
                    text-align: initial;
                }
                h3 {
                    font-size: 1.8em;
                    font-family: "Poppins", sans-serif;
                    font-weight: 600;
                    margin-bottom: 5px;
                }
                p {
                    font-size: 1.6em;
                    font-family: "Poppins", sans-serif;
                    line-height: 19px;
                }
            }
        }
    }
}
@media (max-width: 767px) {
    .benefits {
        .container {
            .benefit {
                & + .benefit {
                    margin-top: 12px;
                }
            }
        }
    }
}
