.labeluploadavatar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    i {
        width: 22px;
        display: flex;
        margin-right: 5px;
        img {
            width: 100%;
            height: 100%;
        }
    }
    p {
        font-size: 1.5em;
        &:hover {
            color: #8f8c8c;
        }
    }
}
