.listreview {
    height: 100%;
    &__item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 80%;
        margin: 0 auto;
        padding: 10px 0;
        border-bottom: 1px solid #e1e1e1;
        &:first-of-type {
            padding-top: 0;
        }
        .textbox {
            font-size: 1.6em;
            p {
                &:first-of-type {
                    display: inline-block;
                    margin-left: 10px;
                    font-weight: 500;
                    cursor: pointer;
                }
            }
        }
        i {
            cursor: pointer;
        }
    }
}
.emptytextreview {
    height: 100%;
    font-size: 1.6em;
    display: flex;
    align-items: center;
    justify-content: center;
}
.loadingreview {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
