.usercategories {
    height: 100%;
    background: #ffffff;
    border-radius: 6px;
    padding: 10px;
    a {
        font-size: 1.6em;
        font-weight: 500;
        padding: 10px 0;
        border-bottom: 1px solid #e1e1e1;
        cursor: pointer;
        display: block;
        color: #000000;
        &:first-of-type {
            padding-top: 0;
        }
        &:hover {
            color: #c5c5c5;
        }
        &.active {
            color: var(--orange-primary);
        }
    }
}
